.CarrouselContainer {
    position: relative;
    margin-bottom: 2em;
    height: 400px;
    transition: all 250ms linear;
}

.CarrouselContent {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    
}

.CarrouselNb {
    color:white;
    position: absolute;
    left: 50%;
    top: 85%;
    font-family: Montserrat;
    font-size: 18px;
}

.left-arrow,
.right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 46.68px;
    height: 79.2px;
}

.left-arrow {
    left: 24px;
}

.right-arrow {
    right: 24px;
}
/* ... */

.small {
}
