.AboutBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash\ 2.png);
    mix-blend-mode: darken;
    background-repeat: no-repeat;
    margin: auto;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin-top:20px;
}

.Dropdowns {
    padding-top: 31px;
    margin: auto;
    width: 1240px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:31px;
}
.AboutContent{
    flex:1;
}