.LodgingContent {
    padding-bottom: 200px;
    margin: 0 10%;
}

.LodgingTitle,
.LodgingLocation,
.LodgingAgent {
    color: #ff6060;
    font-family: Montserrat;
}

.LodgingDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.LodgingDetailsLeftside {
    max-width: 500px;
}

.LodgingTitle p {
    font-size: 28px;
    margin: 0;
}

.LodgingLocation p {
    margin-top: 5px;
}

.LodgingAgent {
    display: inline-flex;
    align-items: center;
}
.LodgingAgent p {
    line-height: 1.5em;
    height: 3em;
    max-width: 100px;
    padding-right: 20px;
    text-align: right;
    margin: 0;
}

.AgentImage {
    height: 64px;
    width: 64px;
    background-color: #c4c4c4;
    border-radius: 50%;
    display: inline-block;
}

.AgentImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.LodgingTags {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    width: 1240px;
    border-radius: 25px;
    margin-top: 20px;
}

.LodgingRating {
    display: flex;
    flex-direction: row;
    margin-top:24px;
}

.LodgingDropdowns {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.Drop{
    width: 45%;
}

@media screen and (max-width: 1480px) {
    .LodgingDetails{
        display: unset;
    }
    .LodgingDropdowns{
        flex-direction: column;
        gap:20px;
        align-items: center;
    }
    .LodgingDetailsRightside{
        flex-direction: row-reverse;
        display: flex;
        justify-content: space-between;
    }
    .Drop{
        width: 100%;
    }
    .LodgingTitle{
        font-size:18px;
    }
    .LodgingLocation{
        font-size:14px;
    }
    .LodgingAgent p {
        font-size:12px;
    }
}