.TagContainer {
    background: #ff6060;
    border-radius: 10px;                    
}

.TagText {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    height: 1px;
    width: 100px;;
    display:flex;
    justify-content: center;
    align-items: center;
}
