.ThumbContainer {
    position: absolute;
    width: 340px;
    height: 340px;
    background: #ff6060;
    border-radius: 10px;
}
.ThumbTitle {
    position: absolute;
    left: 5.88%;
    right: 5.88%;
    top: 78.82%;
    bottom: 5.88%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: white;
}
