.HomeBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 75%;
    height: 223px;
    border-radius: 25px;
}

.HomeBannerText {
    font-family: "Montserrat";
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    justify-content: center;
    color: white;
}

.Thumbs {
    padding-bottom: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin: auto;
    margin-top: 20px;
    padding-top: 56px;
    background: #f7f7f7;
    border-radius: 25px;
    width: 75%;
    flex-wrap: wrap;
}

@media screen and (max-width: 1480px) {
    .HomeContent > .HomeBanner {
        height: 110px;
        margin: 20px;
        width: unset;
    }
    .Thumbs {
        background-color: unset;
        width: unset;
    }
    .ThumbContainer {
        height: 255px;
    }
    .HomeBannerText {
        font-size: 20px;
        width: 50%;
    }
}

@media screen and (max-width:480px) {
    .HomeBanner {
        justify-content: unset;
        padding-left:15px;
    }
}
