@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf");
}

.Container {
  max-width: 1340px;
  margin: auto;
}

.Navigation {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.NavigationList {
  list-style: none;
  text-decoration: none;
}

.NavigationListItem {
  color: #ff6060;
  display: inline-block;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.NavigationListItem a {
  text-decoration: none;
  font-family: "Montserrat";
}

.NavigationListItem a:visited {
  color: inherit;
}
.NavigationListItem a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1420px) {
  .NavigationListItem {
    padding: 0;
    margin-right: 5px;
    font-size: 12px;
  }
  .Navigation {
    display: flex;
    padding: 20px;
    text-transform: uppercase;
    justify-content: space-between;
    gap: 10px;
  }
  .NavigationList {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
  }
}
